<template>
  <b-form @submit.stop.prevent="onSubmit">
    <!-- E-POSTA ADRESI -->
    <b-form-group class="form-label-group">
      <label for="inputEmail">{{ $t('formElements.email') }} :</label>
      <b-form-input
        id="inputEmail"
        v-model="form.email"
        class="form-control"
        :class="{ 'border-danger': errorMessages }"
        :state="
          isBrowser && $v.form.email.$dirty ? !$v.form.email.$error : null
        "
        type="email"
      />
      <b-form-invalid-feedback id="inputEmail-invalid">
        <i class="vs-icon feather icon-alert-triangle" />
        {{ $t('formFeedbacks.email') }}
      </b-form-invalid-feedback>
    </b-form-group>
    <!-- SIFRE -->
    <b-form-group class="form-label-group">
      <label for="inputPassword">{{ $t('formElements.password') }} :</label>
      <b-form-input
        id="inputPassword"
        v-model="form.password"
        class="form-control"
        :class="{ 'border-danger': errorMessages }"
        :state="
          isBrowser && $v.form.password.$dirty ? !$v.form.password.$error : null
        "
        type="password"
      />
      <b-form-invalid-feedback id="inputPassword-invalid">
        <i class="vs-icon feather icon-alert-triangle" />
        {{ $t('formFeedbacks.password') }}
      </b-form-invalid-feedback>
    </b-form-group>
    <!-- SIFRE TEKRARI -->
    <b-form-group class="form-label-group">
      <label for="inputPassword">
        {{ $t('formElements.confirmPassword') }} :
      </label>
      <b-form-input
        id="inputConfPassword"
        v-model="form.rePassword"
        class="form-control"
        :class="{ 'border-danger': errorMessages }"
        :state="
          isBrowser && $v.form.rePassword.$dirty
            ? !$v.form.rePassword.$error
            : null
        "
        type="password"
      />
      <b-form-invalid-feedback id="inputPassword-invalid">
        <i class="vs-icon feather icon-alert-triangle" />
        <span>{{ $t('formFeedbacks.password') }}</span>
        <br />
        <i class="vs-icon feather icon-alert-triangle" />
        <span>{{ $t('formFeedbacks.rePassword') }}</span>
      </b-form-invalid-feedback>
    </b-form-group>

    <template v-if="successMessages || errorMessages">
      <b-row class="mb-2">
        <b-col v-if="successMessages" class="text-primary message-col">
          {{ successMessages }}
        </b-col>
        <b-col v-if="errorMessages" class="text-danger message-col">
          {{ errorMessages }}
        </b-col>
      </b-row>
    </template>

    <div class="row pt-2">
      <div class="col-12 col-md-6 mb-1">
        <nuxt-link
          :to="{ path: `${localePath('/auth/login')}` }"
          tag="a"
          class="btn btn-outline-primary btn-block px-0"
        >
          {{ $t('formElements.loginButton') }}
        </nuxt-link>
      </div>
      <div class="col-12 col-md-6 mb-1">
        <b-button type="submit" variant="primary" class="btn-block px-0">
          <span v-if="loading" class="spinner spinner-white" />
          {{ $t('formElements.reset') }}
        </b-button>
      </div>
    </div>
  </b-form>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'
import { required, email, minLength, sameAs } from 'vuelidate/lib/validators'

export default {
  name: 'ResetPasswordForm',
  props: {
    passwordKey: { type: String, default: null }
  },
  asyncData() {
    return { isBrowser: process.browser }
  },
  data() {
    return {
      isBrowser: false,
      form: {
        email: '',
        password: '',
        rePassword: ''
      }
    }
  },
  computed: {
    ...mapGetters('alert', ['errorMessages', 'successMessages']),
    ...mapState('auth', ['loading']),
    ...mapGetters('auth', ['isLoggedIn'])
  },
  mounted() {
    this.isBrowser = process.browser

    if (this.isLoggedIn) {
      // Already logged in
      this.logout({ router: this.$router, slient: true })
    }
  },
  methods: {
    ...mapActions('auth', ['passwordReset', 'logout']),
    onSubmit() {
      this.$v.form.$touch()
      if (this.$v.form.$anyError) {
        return
      }

      // Form submit logic
      this.passwordReset({
        email: this.form.email,
        key: this.passwordKey,
        password: this.form.password,
        router: this.$router
      })
    }
  },
  validations: {
    form: {
      email: {
        required,
        email
      },
      password: {
        required,
        minLength: minLength(6)
      },
      rePassword: {
        required,
        sameAsPassword: sameAs('password')
      }
    }
  }
}
</script>
