<template>
  <div class="content-header row">
    <div class="content-header-left col-md-9 col-12 mb-2">
      <div class="row breadcrumbs-top">
        <div class="col-12">
          <h2 class="content-header-title float-left mb-0">
            {{ crumbs[0].path | convertTitle }}
          </h2>
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <nuxt-link to="/" tag="a">
                  <span>/HOME</span>
                </nuxt-link>
              </li>
              <li
                v-for="(item, i) in crumbs"
                :key="i"
                style="margin-left: 0.25em"
                :class="item.classes"
              >
                <nuxt-link :to="item.path">
                  {{ item.path | convertPath }}
                </nuxt-link>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BreadCrumb',
  filters: {
    convertPath(path) {
      return path.toUpperCase()
    },
    convertTitle(title) {
      return title.substring(1).toUpperCase()
    }
  },
  computed: {
    crumbs() {
      const crumbs = []
      this.$route.matched.forEach((item, i, { length }) => {
        const crumb = {}
        crumb.path = item.path
        crumb.name = this.$i18n.t('route.' + (item.name || item.path))

        // is last item?
        if (i === length - 1) {
          // is param route? .../.../:id
          if (item.regex.keys.length > 0) {
            crumbs.push({
              path: item.path.replace(/\/:[^/:]*$/, ''),
              name: this.$i18n.t('route.' + item.name.replace(/-[^-]*$/, ''))
            })
            crumb.path = this.$route.path
            crumb.name = this.$i18n.t('route.' + this.$route.name, [
              crumb.path.match(/[^/]*$/)[0]
            ])
          }
          crumb.classes = 'active'
        }

        crumbs.push(crumb)
      })

      return crumbs
    }
  }
}
</script>
