<template>
  <div>
    <div class="sidenav-overlay" />
    <div class="drag-target" />
    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light navbar-shadow">
      <p class="clearfix blue-grey lighten-2 mb-0">
        <span class="float-md-left d-block d-md-inline-block mt-25">
          COPYRIGHT &copy; 2020
          <a
            class="text-bold-800 grey darken-2"
            href="https://1.envato.market/pixinvent_portfolio"
            target="_blank"
          >
            Pixinvent,
          </a>
          All rights Reserved
        </span>
        <span class="float-md-right d-none d-md-block">
          Hand-crafted & Made with
          <i class="feather icon-heart pink" />
        </span>
        <button class="btn btn-primary btn-icon scroll-top" type="button">
          <i class="feather icon-arrow-up" />
        </button>
      </p>
    </footer>
    <!-- END: Footer-->
  </div>
</template>
