<template>
  <div class="horizontal-menu-wrapper">
    <b-navbar
      class="
        header-navbar
        navbar-expand-sm navbar navbar-horizontal
        floating-nav
        navbar-light navbar-without-dd-arrow navbar-shadow
        menu-border
      "
      role="navigation"
      data-menu="menu-wrapper"
    >
      <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
          <li class="nav-item mr-auto">
            <a class="navbar-brand">
              <div class="brand-logo" />
              <h2 class="brand-text mb-0">Vuexy</h2>
            </a>
          </li>
          <li class="nav-item nav-toggle">
            <a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse">
              <i
                class="
                  feather
                  icon-x
                  d-block d-xl-none
                  font-medium-4
                  primary
                  toggle-icon
                "
              />
              <i
                class="
                  toggle-icon
                  feather
                  icon-disc
                  font-medium-4
                  d-none d-xl-block
                  collapse-toggle-icon
                  primary
                "
                data-ticon="icon-disc"
              />
            </a>
          </li>
        </ul>
      </div>
      <!-- Horizontal menu content-->
      <div
        class="navbar-container main-menu-content"
        data-menu="menu-container"
      >
        <!--
        <ul
          id="main-menu-navigation"
          class="nav navbar-nav"
          data-menu="menu-navigation"
        >
          <li class="dropdown nav-item" data-menu="dropdown">
            <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">
              <i class="feather icon-file" />
              <span data-i18n="Pages"> Pages </span>
            </a>
            <ul class="dropdown-menu">
              <li data-menu="">
                <a
                  class="dropdown-item"
                  data-toggle="dropdown"
                  data-i18n="Profile"
                >
                  <i class="feather icon-user" />Profile
                </a>
              </li>
          </li>
        </ul>
        -->
        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav class="nav navbar-nav">
            <!-- PUBLIC PAGES -->
            <b-nav-item v-if="isLoggedIn() === false" class="dropdown nav-item">
              {{ $t('topMenu.home') }}
            </b-nav-item>
            <b-nav-item v-if="isLoggedIn() === false" class="dropdown nav-item">
              {{ $t('topMenu.price') }}
            </b-nav-item>
            <b-nav-item v-if="isLoggedIn() === false" class="dropdown nav-item">
              {{ $t('topMenu.contact') }}
            </b-nav-item>
            <b-nav-item v-if="isLoggedIn() === false" class="dropdown nav-item">
              {{ $t('topMenu.support') }}
            </b-nav-item>
            <!-- SPECIAL PAGES -->
            <b-nav-item
              v-if="isLoggedIn() === true"
              class="dropdown nav-item"
              :to="{ path: `${localePath('/todo')}` }"
              data-cy="nav-bar-todo"
            >
              {{ $t('topMenu.searchUrl') }}
            </b-nav-item>
            <!--
            <b-nav-item
              :to="{ path: '/another-page' }"
              data-cy="nav-bar-another-page"
            >
              ANOTHER PAGE
            </b-nav-item>
            -->
            <!--
            <b-nav-item-dropdown
              v-if="isLoggedIn() === false"
              data-cy="nav-bar-sample-page"
              :text="$t('topMenu.pages')"
              right
            >
              <b-dropdown-item
                :to="{ path: `${localePath('/auth/login')}` }"
                data-cy="nav-bar-sample-page-1"
              >
                {{ $t('topMenu.login') }}
              </b-dropdown-item>
              <b-dropdown-item
                :to="{ path: `${localePath('/auth/register')}` }"
                data-cy="nav-bar-sample-page-2"
              >
                {{ $t('topMenu.register') }}
              </b-dropdown-item>
              <b-dropdown-item
                :to="{ path: `${localePath('/auth/forgotpassword')}` }"
                data-cy="nav-bar-sample-page-2"
              >
                {{ $t('topMenu.forgotPassword') }}
              </b-dropdown-item>
              <b-dropdown-item
                :to="{ path: `${localePath('/auth/resetpassword')}` }"
                data-cy="nav-bar-sample-page-2"
              >
                {{ $t('topMenu.resetPassword') }}
              </b-dropdown-item>
            </b-nav-item-dropdown>
            -->
            <!--
            <b-nav-item-dropdown
              data-cy="nav-bar-sample-page"
              text="SAMPLE PAGE"
              right
            >
              <b-dropdown-item
                :to="{ path: '/sample-page/1' }"
                data-cy="nav-bar-sample-page-1"
              >
                PAGE 1
              </b-dropdown-item>
              <b-dropdown-item
                :to="{ path: '/sample-page/2' }"
                data-cy="nav-bar-sample-page-2"
              >
                PAGE 2
              </b-dropdown-item>
            </b-nav-item-dropdown>
            -->
          </b-navbar-nav>

          <!-- Right aligned nav items -->
          <!--
          <b-navbar-nav v-if="isLoggedIn() === true" class="ml-auto">
            <b-nav-item
              v-if="user"
              :to="{ path: '/account' }"
              data-cy="nav-bar-welcome-text"
              link-classes="btn btn-link mx-1"
            >
              Welcome, {{ user.first_name }}
            </b-nav-item>
            <b-nav-item
              :to="{ path: '/account' }"
              data-cy="nav-bar-account"
              link-classes="btn btn-info text-light mx-1"
            >
              My Account
            </b-nav-item>
            <b-nav-item
              :to="{ path: '/logout' }"
              data-cy="nav-bar-logout"
              link-classes="btn btn-grey  mx-1 text-dark"
            >
              Logout
            </b-nav-item>
          </b-navbar-nav>
          <b-navbar-nav v-else class="ml-auto">
            <b-nav-item
              :to="{ path: '/login' }"
              data-cy="nav-bar-login"
              link-classes="btn btn-info text-light mx-1"
            >
              Login
            </b-nav-item>
            <b-nav-item
              :to="{ path: '/register' }"
              data-cy="nav-bar-register"
              link-classes="btn btn-primary mx-1 text-light"
            >
              Sign up
            </b-nav-item>
          </b-navbar-nav>
          -->
        </b-collapse>
      </div>
    </b-navbar>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'

export default {
  name: 'TopMenu',
  computed: {
    ...mapState('auth', ['user']),
    ...mapGetters('auth', ['isLoggedIn'])
  }
}
</script>

<style scoped>
@import 'static/vendors/css/editors/quill/katex.min.css';
@import 'static/vendors/css/editors/quill/monokai-sublime.min.css';
@import 'static/vendors/css/editors/quill/quill.snow.css';

.client-only-placeholder {
  margin-left: auto;
}
</style>
