<template>
  <b-form @submit.stop.prevent="onSubmit">
    <b-form-row>
      <!-- KULLANICI ADI -->
      <b-col cols="12" md="6">
        <b-form-group class="controls">
          <label for="account-name">{{ $t('formElements.name') }} :</label>
          <b-form-input
            id="account-name"
            v-model="form.firstName"
            class="form-control"
            :class="{ 'border-danger': errorMessages }"
            :state="
              isBrowser && $v.form.firstName.$dirty
                ? !$v.form.firstName.$error
                : null
            "
            type="text"
          />
          <b-form-invalid-feedback id="account-name-invalid">
            <i class="vs-icon feather icon-alert-triangle" />
            {{ $t('formFeedbacks.name') }}
          </b-form-invalid-feedback>
        </b-form-group>
      </b-col>
      <!-- KULLANICI SOYADI -->
      <b-col cols="12" lg="6">
        <b-form-group class="form-label-group">
          <label for="account-surname">
            {{ $t('formElements.surname') }} :
          </label>
          <b-form-input
            id="account-surname"
            v-model="form.lastName"
            class="form-control"
            :class="{ 'border-danger': errorMessages }"
            :state="
              isBrowser && $v.form.lastName.$dirty
                ? !$v.form.lastName.$error
                : null
            "
            type="text"
          />
          <b-form-invalid-feedback id="account-surname-invalid">
            <i class="vs-icon feather icon-alert-triangle" />
            {{ $t('formFeedbacks.surname') }}
          </b-form-invalid-feedback>
        </b-form-group>
      </b-col>
    </b-form-row>
    <!--
    <div class="col-12">
      <div class="alert alert-warning alert-dismissible mb-2" role="alert">
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
        <p class="mb-0">
          Your email is not confirmed. Please check your inbox.
        </p>
        <a href="javascript: void(0);">Resend confirmation</a>
      </div>
    </div>
    -->
    <!-- E-POSTA ADRESI -->
    <b-form-group class="form-label-group">
      <label for="account-email">{{ $t('formElements.email') }} :</label>
      <b-form-input
        id="account-email"
        v-model="form.email"
        class="form-control"
        :class="{ 'border-danger': errorMessages }"
        :state="
          isBrowser && $v.form.email.$dirty ? !$v.form.email.$error : null
        "
        type="email"
      />
      <b-form-invalid-feedback id="account-email-invalid">
        <i class="vs-icon feather icon-alert-triangle" />
        {{ $t('formFeedbacks.email') }}
      </b-form-invalid-feedback>
    </b-form-group>
    <b-form-group class="form-label-group">
      <label for="account-phone">{{ $t('formElements.phoneNumber') }} :</label>
      <b-form-input
        id="account-phone"
        v-model="form.phone"
        class="form-control"
        :class="{ 'border-danger': errorMessages }"
        :state="
          isBrowser && $v.form.phone.$dirty ? !$v.form.phone.$error : null
        "
        type="number"
      />
      <b-form-invalid-feedback id="account-phone-invalid">
        <i class="vs-icon feather icon-alert-triangle" />
        {{ $t('formFeedbacks.phone') }}
      </b-form-invalid-feedback>
    </b-form-group>
    <!-- ESKI SIFRE -->
    <b-form-group class="form-label-group">
      <label for="account-old-password">
        {{ $t('formElements.oldPassword') }} :
      </label>
      <b-form-input
        id="account-old-password"
        v-model="form.oldPassword"
        class="form-control"
        :class="{ 'border-danger': errorMessages }"
        :state="
          isBrowser && $v.form.password.$dirty ? !$v.form.password.$error : null
        "
        type="password"
      />
      <b-form-invalid-feedback id="account-old-password-invalid">
        <i class="vs-icon feather icon-alert-triangle" />
        {{ $t('formFeedbacks.password') }}
      </b-form-invalid-feedback>
    </b-form-group>
    <!-- SIFRE -->
    <b-form-group class="form-label-group">
      <label for="account-password">{{ $t('formElements.password') }} :</label>
      <b-form-input
        id="account-password"
        v-model="form.password"
        class="form-control"
        :class="{ 'border-danger': errorMessages }"
        :state="
          isBrowser && $v.form.password.$dirty ? !$v.form.password.$error : null
        "
        type="password"
      />
      <b-form-invalid-feedback id="account-password-invalid">
        <i class="vs-icon feather icon-alert-triangle" />
        {{ $t('formFeedbacks.password') }}
      </b-form-invalid-feedback>
    </b-form-group>
    <!-- SIFRE TEKRARI -->
    <b-form-group class="form-label-group">
      <label for="account-repassword">
        {{ $t('formElements.confirmPassword') }} :
      </label>
      <b-form-input
        id="account-repassword"
        v-model="form.rePassword"
        class="form-control"
        :class="{ 'border-danger': errorMessages }"
        :state="
          isBrowser && $v.form.rePassword.$dirty
            ? !$v.form.rePassword.$error
            : null
        "
        type="password"
      />
      <b-form-invalid-feedback id="account-repassword-invalid">
        <i class="vs-icon feather icon-alert-triangle" />
        <span>{{ $t('formFeedbacks.password') }}</span>
        <br />
        <i class="vs-icon feather icon-alert-triangle" />
        <span>{{ $t('formFeedbacks.rePassword') }}</span>
      </b-form-invalid-feedback>
    </b-form-group>

    <template v-if="successMessages || errorMessages">
      <b-row class="mb-2">
        <b-col v-if="successMessages" class="text-primary message-col">
          {{ successMessages }}
        </b-col>
        <b-col v-if="errorMessages" class="text-danger message-col">
          {{ errorMessages }}
        </b-col>
      </b-row>
    </template>

    <b-col class="col-12 d-flex flex-sm-row flex-column justify-content-end">
      <b-button
        type="submit"
        variant="primary"
        class="mr-sm-1 mb-1 mb-sm-0"
        :disabled="$v.form.$invalid || loading"
      >
        <span v-if="loading" class="spinner spinner-white" />
        {{ $t('formElements.saveChanges') }}
      </b-button>
      <button type="reset" class="btn btn-outline-warning">
        {{ $t('formElements.cancel') }}
      </button>
    </b-col>
  </b-form>
</template>

<script>
import { required, email, minLength, sameAs } from 'vuelidate/lib/validators'
import { mapState, mapGetters, mapActions } from 'vuex'

export default {
  name: 'UserProfileForm',
  props: {
    userInformations: {
      type: Object,
      required: true,
      default() {
        return {}
      }
    }
  },
  asyncData() {
    return { isBrowser: process.browser }
  },
  data() {
    return {
      isBrowser: false,
      formLoaded: false,
      form: {
        firstName: '',
        lastName: '',
        email: '',
        phone: '',
        oldPassword: '',
        password: '',
        rePassword: ''
      }
    }
  },
  head() {
    return {
      title: 'Update my account',
      meta: []
    }
  },
  computed: {
    ...mapGetters('alert', ['errorMessages', 'successMessages']),
    ...mapState('user', ['loading', 'user'])
  },
  mounted() {
    this.isBrowser = process.browser
    this.form.firstName = this.userInformations?.firstName || ''
    this.form.lastName = this.userInformations?.lastName || ''
    this.form.email = this.userInformations?.email || ''
    this.form.phone = this.userInformations?.phone || ''
    // this.me({ router: this.$router }).then(() => {})
  },
  methods: {
    ...mapActions('user', ['me', 'updateMe']),
    onSubmit() {
      this.$v.form.$touch()
      if (this.$v.form.$anyError) {
        return
      }

      this.updateMe({
        user: {
          id: this.userInformations?.id,
          firstName: this.form.firstName,
          lastName: this.form.lastName,
          email: this.form.email,
          phone: this.form.phone,
          password: this.form.password
        },
        router: this.$router
      })
    }
  },
  validations: {
    form: {
      firstName: {
        required
      },
      lastName: {
        required
      },
      email: {
        required,
        email
      },
      phone: {
        required,
        minLength: minLength(10)
      },
      oldPassword: {
        required,
        minLength: minLength(6)
      },
      password: {
        required,
        minLength: minLength(6)
      },
      rePassword: {
        required,
        minLength: minLength(6),
        sameAs: sameAs('password')
      }
    }
  }
}
</script>
