<template>
  <section class="row flexbox-container">
    <div class="col-xl-8 col-10 d-flex justify-content-center">
      <div class="card bg-authentication rounded-0 mb-0">
        <div class="row m-0">
          <div
            class="
              col-lg-6
              d-lg-block d-none
              text-center
              align-self-center
              pl-0
              pr-3
              py-0
            "
          >
            <img src="@/static/images/pages/register.jpg" alt="branding logo" />
          </div>
          <div class="col-lg-6 col-12 p-0">
            <div class="card rounded-0 mb-0 p-2">
              <div class="card-header pt-50 pb-1">
                <div class="card-title">
                  <h4 class="mb-0">{{ $t('formElements.header') }}</h4>
                </div>
              </div>
              <p class="px-2">{{ $t('formElements.title') }}</p>
              <div class="card-content">
                <div class="card-body pt-0">
                  <RegisterForm />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import RegisterForm from '@/components/forms/register/form.vue'

export default {
  name: 'RegisterPage',
  components: {
    RegisterForm
  },
  layout: 'public'
}
</script>
