<template>
  <section class="row flexbox-container">
    <div class="col-xl-7 col-md-9 col-10 d-flex justify-content-center px-0">
      <div class="card bg-authentication rounded-0 mb-0">
        <div class="row m-0">
          <div class="col-lg-6 d-lg-block d-none text-center align-self-center">
            <img
              src="@/static/images/pages/forgot-password.png"
              alt="branding logo"
            />
          </div>
          <div class="col-lg-6 col-12 p-0">
            <div
              v-if="!isPasswordResetRequested"
              class="card rounded-0 mb-0 px-2 py-1"
            >
              <div class="card-header pb-1">
                <div class="card-title">
                  <h4 class="mb-0">
                    {{ $t('formElements.headerPasswordReset') }}
                  </h4>
                </div>
              </div>
              <p class="px-2 mb-0">
                {{ $t('formElements.titlePasswordReset') }}
              </p>
              <password-reset-form />
            </div>
            <div
              v-if="isPasswordResetRequested"
              class="card rounded-0 mb-0 px-2 py-1"
            >
              <div class="card-header pb-1 mb-5">
                <div class="card-title">
                  <h4 class="mb-0">{{ $t('formElements.headerPassword2') }}</h4>
                </div>
              </div>
              <p class="px-2 mb-5">
                {{ $t('formElements.titlePassword2') }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from 'vuex'
import PasswordResetForm from '~/components/forms/forgotpassword/form'

export default {
  name: 'ForgotPasswordPage',
  components: { PasswordResetForm },
  layout: 'public',
  middleware: ['guest-only'],
  data() {
    return {
      authKey: ''
    }
  },
  head() {
    return {
      title: 'Find my password',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'To reset your password, enter your email address.'
        }
      ]
    }
  },
  computed: {
    ...mapState('auth', ['isPasswordResetRequested'])
  },
  mounted() {
    this.$store.commit('alert/clear')
  }
}
</script>

<style>
@import 'static/css/pages/authentication.css';
</style>
