<template>
  <section>
    <div class="row d-flex vh-100 align-items-center justify-content-center">
      <div class="col-xl-5 col-md-8 col-sm-10 col-12 px-md-0 px-2">
        <div class="card text-center w-100 mb-0">
          <div class="card-header justify-content-center pb-0 mb-2">
            <div class="card-title">
              <h2 class="mb-0">User activation completed</h2>
            </div>
          </div>
          <div class="card-content">
            <div class="card-body pt-0">
              <img
                src="@/static/images/mail/user-account.png"
                class="img-responsive block width-500 mx-auto"
                width="500"
                alt="bg-img"
              />
              <div class="divider">
                <div class="divider-text">Subscribe</div>
              </div>
              <p class="text-left">
                If you would like to be notified when our app is live, Please
                subscribe to our mailing list.
              </p>
              <!--
              <form class="form-horizontal">
                <fieldset class="form-label-group">
                  <input
                    id="user-email"
                    type="text"
                    class="form-control"
                    placeholder="Email"
                  />
                  <label for="user-email">Email</label>
                </fieldset>
              </form>
              -->
              <b-button
                :to="{ path: `${localePath('/auth/login')}` }"
                variant="primary"
                class="w-100"
              >
                Login
              </b-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'AlertMessage'
}
</script>
