<template>
  <section class="row flexbox-container">
    <div class="col-xl-7 col-md-8 col-12 d-flex justify-content-center">
      <div
        class="card auth-card bg-transparent shadow-none rounded-0 mb-0 w-100"
      >
        <div class="card-content">
          <div class="card-body text-center">
            <img
              :src="getImageURL(errorCode)"
              class="img-fluid align-self-center"
              alt="branding logo"
            />
            <h1 class="font-large-2 my-1">
              {{ errorCode }} - {{ errorMessage }}
            </h1>
            <p class="p-2">
              {{ errorPath }}
            </p>
            <nuxt-link
              :to="{ path: `${localePath('/')}` }"
              tag="a"
              class="btn btn-primary btn-lg mt-2"
            >
              Back to Home
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'ErrorNotifications',
  props: {
    errorCode: {
      type: Number,
      required: true,
      default() {
        return 404
      }
    },
    errorPath: {
      type: String,
      required: true,
      default() {
        return 'The path you wanted to go to was not found'
      }
    },
    errorMessage: {
      type: String,
      required: true,
      default() {
        return 'The server could not find what was requested. The error may also be used when a server does not wish to disclose whether it has the requested information'
      }
    }
  },
  methods: {
    getImageURL(errorCode) {
      // eslint-disable-next-line global-require,import/no-dynamic-require
      return require(`@/static/images/pages/${errorCode}.png`)
    }
  }
}
</script>
