<template>
  <section class="row flexbox-container">
    <div class="col-xl-8 col-11 d-flex justify-content-center">
      <div class="card bg-authentication rounded-0 mb-0">
        <div class="row m-0">
          <div
            class="
              col-lg-6
              d-lg-block d-none
              text-center
              align-self-center
              px-1
              py-0
            "
          >
            <img src="@/static/images/pages/login.png" alt="branding logo" />
          </div>
          <div class="col-lg-6 col-12 p-0">
            <div class="card rounded-0 mb-0 px-2">
              <div class="card-header pb-1">
                <div class="card-title">
                  <h4 class="mb-0">{{ $t('formElements.headerLogin') }}</h4>
                </div>
              </div>
              <p class="px-2">{{ $t('formElements.titleLogin') }}</p>
              <div class="card-content">
                <div class="card-body pt-1">
                  <LoginForm />
                </div>
              </div>
              <LoginFooter />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END: Content-->
</template>

<script>
import LoginForm from '@/components/forms/login/form.vue'
import LoginFooter from '@/components/forms/login/footer.vue'

export default {
  name: 'LoginPage',
  components: {
    LoginForm,
    LoginFooter
  },
  layout: 'public',
  middleware: ['guest-only']
}
</script>

<style>
@import 'static/css/pages/authentication.css';
</style>
