<template>
  <div>
    <b-form @submit.stop.prevent="onSubmit">
      <!-- Using components -->
      <b-form-group class="my-3">
        <label for="inputFileName">File name :</label>
        <b-form-input
          id="inputFileName"
          v-model="form.fileName"
          type="text"
          required
          placeholder="What do you need to do?"
          :disabled="loading"
          :class="{ 'border-danger': errorMessages }"
        />
        <!--
        <b-input-group-append>
          <b-button
            type="submit"
            variant="primary"
            :disabled="(isBrowser && $v.form.$invalid) || loading"
          >
            <span v-if="loading" class="spinner spinner-white"></span>
            <i class="feather icon-plus" />
          </b-button>
        </b-input-group-append>
        -->
      </b-form-group>
      <b-form-group class="my-3">
        <label for="inputStoreName">Store name :</label>
        <b-form-input
          id="inputStoreName"
          v-model="form.storeName"
          type="text"
          required
          placeholder="What do you need to do?"
          :disabled="loading"
          :class="{ 'border-danger': errorMessages }"
        />
      </b-form-group>
      <b-form-group class="my-3">
        <label for="inputStoreName">Optional keywords :</label>
        <b-form-input
          id="inputStoreName"
          v-model="form.optionalKeywords"
          type="text"
          placeholder="What do you need to do?"
          :disabled="loading"
        />
      </b-form-group>
      <b-form-row class="mb-2">
        <b-col cols="12" class="d-flex justify-content-center">
          <b-button
            type="submit"
            :disabled="(isBrowser && $v.form.$invalid) || loading"
            variant="primary"
          >
            <span v-if="loading" class="spinner spinner-white"></span>
            <i class="feather icon-plus" />
            Take asins
          </b-button>
        </b-col>
      </b-form-row>
    </b-form>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'TodoAddBox',
  props: {
    loading: Boolean
  },
  asyncData() {
    return { isBrowser: process.browser }
  },
  data() {
    return {
      isBrowser: false,
      form: {
        fileName: '',
        storeName: '',
        optionalKeywords: '',
        note: '',
        state: 'pending'
      }
    }
  },
  validations: {
    form: {
      fileName: {
        required
      },
      storeName: {
        required
      }
    }
  },
  computed: {
    ...mapGetters('alert', ['errorMessages'])
  },
  mounted() {
    // eslint-disable-next-line nuxt/no-env-in-hooks
    this.isBrowser = process.browser
  },
  methods: {
    ...mapActions('todo', ['addOne']),
    onSubmit() {
      this.$v.form.$touch()
      if (this.$v.form.$anyError) {
        return
      }

      this.$emit('add', {
        state: this.state,
        todo: {
          fileName: this.form.fileName,
          url: this.form.storeName,
          keyword: this.form.optionalKeywords
          // note: this.form.note,
          // state: this.form.state
        }
      })
    }
  }
}
</script>
