<template>
  <b-overlay
    :show="showOverlay"
    variant="transparent"
    rounded="sm"
    spinner-variant="primary"
    spinner-type="grow"
  >
    <template #overlay>
      <div class="app-content content">
        <div class="content-overlay" />
        <div class="header-navbar-shadow" />
        <div class="content-wrapper">
          <div class="content-body">
            <section>
              <div class="row">
                <div class="col-12">
                  <div class="text-center">
                    <BIconStopwatch
                      class="text-primary"
                      font-scale="3"
                      animation="cylon"
                    />
                    <p class="text-primary mt-1">
                      {{ $t('formElements.pleaseWait') }}
                    </p>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </template>
  </b-overlay>
</template>

<script>
import axios from 'axios'
import { mapActions, mapGetters, mapState } from 'vuex'
import { BIconStopwatch } from 'bootstrap-vue'

export default {
  name: 'RouterEmailPassword',
  components: { BIconStopwatch },
  layout: 'default',
  middleware: ['guest-only'],
  asyncData({ params, query }) {
    if (params.verificationtype === 'register-verification') {
      return axios
        .post(`${process.env.API_URL}/api/public/register-verification`, {
          key: query.key
        })
        .then((response) => {
          if (response.data.success) {
            return { mailActivation: true }
          }
          return { mailActivation: false }
        })
        .catch(() => {
          return { mailActivation: false }
        })
    }

    if (params.verificationtype === 'reset-password') {
      return { passwordActivation: true, passwordKey: query.key }
    }
    return {
      mailActivation: false,
      passwordActivation: false,
      passwordKey: ''
    }
  },
  data() {
    return {
      mailActivation: false,
      passwordActivation: false,
      showOverlay: true,
      passwordKey: ''
    }
  },
  head() {
    return {
      title: 'Reset Password',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Reset your password.'
        }
      ]
    }
  },
  computed: {
    ...mapState('auth', ['isPasswordResetted']),
    ...mapGetters('alert', ['errorMessages'])
  },
  mounted() {
    setTimeout(() => {
      if (this.$route.params.verificationtype === 'register-verification') {
        if (this.mailActivation) {
          this.handleAuthMessageKey({
            messageKey: 'register-verification-success'
          })
          this.$router.push(this.localePath('/auth/login'))
        } else {
          this.handleAuthMessageKey({
            messageKey: 'register-verification-fail'
          })
          this.$router.push(this.localePath('/auth/register'))
        }
      } else if (this.passwordKey.length > 15) {
        this.handleAuthMessageKey({
          messageKey: 'reset-password-success'
        })
        this.$router.push(
          this.localePath(`/auth/resetpassword?key=${this.passwordKey}`)
        )
      } else {
        this.error({
          showType: 'toast',
          title: 'Error',
          text: 'This is not valid access. Please try again.'
        })
        this.$router.push(this.localePath('/auth/register'))
      }
    }, 500)
  },
  methods: {
    ...mapActions('auth', ['handleAuthMessageKey']),
    ...mapActions('alert', ['error'])
  }
}
</script>
