body {
  overflow-y: scroll;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  // padding-top: 4.5rem;
}

/*
.spinner {
  width: 1rem;
  height: 1rem;
  border-top-color: #444;
  border-left-color: #444;

  animation: spinner 400ms linear infinite;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-large {
  width: 5rem;
  height: 5rem;
  border-width: 6px;
}

.spinner-slow {
  animation: spinner 1s linear infinite;
}

.spinner-white {
  border-top-color: #fff;
  border-left-color: #fff;
}

.spinner-blue {
  border-top-color: #09d;
  border-left-color: #09d;
}

.page-title {
  font-size: 1.5rem;
  font-weight: bold;
}
*/
