<template>
  <div class="login-footer">
    <div class="divider">
      <div class="divider-text">{{ $t('formElements.orLogin') }}</div>
    </div>
    <div class="footer-btn d-inline">
      <a class="btn btn-facebook">
        <span class="fa fa-facebook text-white" />
      </a>
      <a class="btn btn-twitter white">
        <span class="fa fa-twitter text-white" />
      </a>
      <a class="btn btn-google">
        <span class="fa fa-google text-white" />
      </a>
      <a class="btn btn-github">
        <span class="fa fa-github-alt text-white" />
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'LoginFooter'
}
</script>
