<template>
  <b-form @submit.stop.prevent="onLogin">
    <!-- E-POSTA ADRESI -->
    <b-form-group
      class="form-label-group form-group position-relative has-icon-left"
    >
      <label for="inputEmail">{{ $t('formElements.email') }} :</label>
      <b-input-group>
        <b-input-group-prepend class="form-control-position">
          <i class="feather icon-user" />
        </b-input-group-prepend>
      </b-input-group>
      <b-form-input
        id="inputEmail"
        v-model="form.email"
        class="form-control"
        :class="{ 'border-danger': errorMessages }"
        :state="
          isBrowser && $v.form.email.$dirty ? !$v.form.email.$error : null
        "
        type="email"
      />
      <b-form-invalid-feedback id="inputEmail-invalid">
        <i class="vs-icon feather icon-alert-triangle" />
        {{ $t('formFeedbacks.email') }}
      </b-form-invalid-feedback>
    </b-form-group>
    <!-- SIFRE -->
    <b-form-group
      class="form-label-group form-group position-relative has-icon-left"
    >
      <label for="inputPassword">{{ $t('formElements.password') }} :</label>
      <b-input-group>
        <b-input-group-prepend class="form-control-position">
          <i class="feather icon-lock" />
        </b-input-group-prepend>
      </b-input-group>
      <b-form-input
        id="inputPassword"
        v-model="form.password"
        class="form-control"
        :class="{ 'border-danger': errorMessages }"
        :state="
          isBrowser && $v.form.password.$dirty ? !$v.form.password.$error : null
        "
        type="password"
      />
      <b-form-invalid-feedback id="inputPassword-invalid">
        <i class="vs-icon feather icon-alert-triangle" />
        {{ $t('formFeedbacks.password') }}
      </b-form-invalid-feedback>
    </b-form-group>

    <template v-if="successMessages || errorMessages">
      <b-row class="mb-2">
        <b-col
          v-if="successMessages"
          data-cy="login-success-message"
          class="text-primary message-col"
        >
          {{ successMessages }}
        </b-col>
        <b-col
          v-if="errorMessages"
          data-cy="login-error-message"
          class="text-danger message-col"
        >
          {{ errorMessages }}
        </b-col>
      </b-row>
    </template>

    <div class="form-group d-flex justify-content-between align-items-center">
      <div class="text-left">
        <fieldset class="checkbox">
          <div class="vs-checkbox-con vs-checkbox-primary">
            <input type="checkbox" />
            <span class="vs-checkbox">
              <span class="vs-checkbox--check">
                <i class="vs-icon feather icon-check" />
              </span>
            </span>
            <span class="">{{ $t('formElements.rememberMeButton') }}</span>
          </div>
        </fieldset>
      </div>
      <div class="text-right">
        <nuxt-link
          :to="{ path: `${localePath('/auth/forgotpassword')}` }"
          tag="a"
          class="card-link"
        >
          {{ $t('formElements.forgotPasswordButton') }}
        </nuxt-link>
      </div>
    </div>
    <nuxt-link
      :to="{ path: `${localePath('/auth/register')}` }"
      tag="a"
      class="btn btn-outline-primary float-left btn-inline"
    >
      {{ $t('formElements.registerButton') }}
    </nuxt-link>
    <b-button type="submit" variant="primary" class="float-right btn-inline">
      <span v-if="loading" class="spinner spinner-white" />
      {{ $t('formElements.loginButton') }}
    </b-button>
  </b-form>
</template>

<script>
import { required, email, minLength } from 'vuelidate/lib/validators'
import { mapState, mapGetters, mapActions } from 'vuex'

export default {
  name: 'LoginForm',
  asyncData() {
    return { isBrowser: process.browser }
  },
  data() {
    return {
      isBrowser: false,
      form: {
        email: '',
        password: ''
      }
    }
  },
  computed: {
    ...mapGetters('alert', ['errorMessages', 'successMessages']),
    ...mapState('auth', ['loading']),
    ...mapGetters('auth', ['isLoggedIn'])
  },
  mounted() {
    this.isBrowser = process.browser

    if (this.isLoggedIn) {
      // Already logged in
      this.logout({ router: this.$router, slient: true })
    }
  },
  methods: {
    ...mapActions('auth', ['login', 'logout']),
    onLogin() {
      this.$v.form.$touch()
      if (this.$v.form.$anyError) {
        return false
      }

      this.login({
        email: this.form.email,
        password: this.form.password,
        router: this.$router
      })
    }
  },
  validations: {
    form: {
      email: {
        required,
        email
      },
      password: {
        required,
        minLength: minLength(6)
      }
    }
  }
}
</script>
