<template>
  <div class="card-content">
    <div class="card-body">
      <b-form @submit.stop.prevent="onReset">
        <!-- E-POSTA ADRESI -->
        <b-form-group class="form-label-group">
          <label for="inputEmail">{{ $t('formElements.email') }} :</label>
          <b-form-input
            id="inputEmail"
            v-model="form.email"
            class="form-control"
            :class="{ 'border-danger': errorMessages }"
            :state="
              isBrowser && $v.form.email.$dirty ? !$v.form.email.$error : null
            "
            type="email"
          />
          <b-form-invalid-feedback id="inputEmail-invalid">
            <i class="vs-icon feather icon-alert-triangle" />
            {{ $t('formFeedbacks.email') }}
          </b-form-invalid-feedback>
        </b-form-group>

        <template v-if="successMessages || errorMessages">
          <b-row class="mb-2">
            <b-col v-if="successMessages" class="text-primary message-col">
              {{ successMessages }}
            </b-col>
            <b-col v-if="errorMessages" class="text-danger message-col">
              {{ errorMessages }}
            </b-col>
          </b-row>
        </template>

        <div class="float-md-left d-block mb-1">
          <b-button
            :to="{ path: `${localePath('/auth/login')}` }"
            variant="outline-primary"
            class="btn btn-outline-primary btn-block px-75"
          >
            {{ $t('formElements.loginButton') }}
          </b-button>
        </div>
        <div class="float-md-right d-block mb-1">
          <b-button
            type="submit"
            variant="primary"
            class="btn-block px-75"
            :disabled="(isBrowser && $v.form.$invalid) || loading"
          >
            <span v-if="loading" class="spinner spinner-white" />
            {{ $t('formElements.buttonPasswordReset') }}
          </b-button>
        </div>
      </b-form>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'
import { required, email } from 'vuelidate/lib/validators'

export default {
  name: 'PasswordResetForm',
  asyncData() {
    return { isBrowser: process.browser }
  },
  data() {
    return {
      isBrowser: false,
      form: {
        email: ''
      }
    }
  },
  validations: {
    form: {
      email: {
        required,
        email
      }
    }
  },
  computed: {
    ...mapGetters('alert', ['errorMessages', 'successMessages']),
    ...mapState('auth', ['loading']),
    ...mapGetters('auth', ['isLoggedIn'])
  },
  mounted() {
    this.isBrowser = process.browser

    if (this.isLoggedIn) {
      // Already logged in
      this.logout({ router: this.$router, slient: true })
    }
  },
  methods: {
    ...mapActions('auth', ['passwordResetRequest', 'logout']),
    onReset() {
      this.$v.form.$touch()
      if (this.$v.form.$anyError) {
        return
      }

      // Form submit logic
      this.passwordResetRequest({
        email: this.form.email,
        router: this.$router
      })
    }
  }
}
</script>
