<template>
  <b-form @submit.stop.prevent="onSubmit">
    <b-form-row>
      <!-- KULLANICI ADI -->
      <b-col cols="12" md="6">
        <b-form-group class="form-label-group">
          <label for="inputName">{{ $t('formElements.name') }} :</label>
          <b-form-input
            id="inputName"
            v-model="form.firstName"
            class="form-control"
            :class="{ 'border-danger': errorMessages }"
            :state="
              isBrowser && $v.form.firstName.$dirty
                ? !$v.form.firstName.$error
                : null
            "
            type="text"
          />
          <b-form-invalid-feedback id="inputName-invalid">
            <i class="vs-icon feather icon-alert-triangle" />
            {{ $t('formFeedbacks.name') }}
          </b-form-invalid-feedback>
        </b-form-group>
      </b-col>
      <!-- KULLANICI SOYADI -->
      <b-col cols="12" lg="6">
        <b-form-group class="form-label-group">
          <label for="inputSurname">{{ $t('formElements.surname') }} :</label>
          <b-form-input
            id="inputSurname"
            v-model="form.lastName"
            class="form-control"
            :class="{ 'border-danger': errorMessages }"
            :state="
              isBrowser && $v.form.lastName.$dirty
                ? !$v.form.lastName.$error
                : null
            "
            type="text"
          />
          <b-form-invalid-feedback id="inputSurname-invalid">
            <i class="vs-icon feather icon-alert-triangle" />
            {{ $t('formFeedbacks.surname') }}
          </b-form-invalid-feedback>
        </b-form-group>
      </b-col>
    </b-form-row>
    <!-- E-POSTA ADRESI -->
    <b-form-group class="form-label-group">
      <label for="inputEmail">{{ $t('formElements.email') }} :</label>
      <b-form-input
        id="inputEmail"
        v-model="form.email"
        class="form-control"
        :class="{ 'border-danger': errorMessages }"
        :state="
          isBrowser && $v.form.email.$dirty ? !$v.form.email.$error : null
        "
        type="email"
      />
      <b-form-invalid-feedback id="inputEmail-invalid">
        <i class="vs-icon feather icon-alert-triangle" />
        {{ $t('formFeedbacks.email') }}
      </b-form-invalid-feedback>
    </b-form-group>
    <!-- TELEFON NUMARASI -->
    <b-form-group class="form-label-group">
      <label for="inputPhone">{{ $t('formElements.phoneNumber') }} :</label>
      <b-form-input
        id="inputPhone"
        v-model="form.phone"
        class="form-control"
        :class="{ 'border-danger': errorMessages }"
        :state="
          isBrowser && $v.form.phone.$dirty ? !$v.form.phone.$error : null
        "
        type="number"
      />
      <b-form-invalid-feedback id="inputPhone-invalid">
        <i class="vs-icon feather icon-alert-triangle" />
        {{ $t('formFeedbacks.phone') }}
      </b-form-invalid-feedback>
    </b-form-group>
    <!-- SIFRE -->
    <b-form-group class="form-label-group">
      <label for="inputPassword">{{ $t('formElements.password') }} :</label>
      <b-form-input
        id="inputPassword"
        v-model="form.password"
        class="form-control"
        :class="{ 'border-danger': errorMessages }"
        :state="
          isBrowser && $v.form.password.$dirty ? !$v.form.password.$error : null
        "
        type="password"
      />
      <b-form-invalid-feedback id="inputPassword-invalid">
        <i class="vs-icon feather icon-alert-triangle" />
        {{ $t('formFeedbacks.password') }}
      </b-form-invalid-feedback>
    </b-form-group>
    <!-- SIFRE TEKRARI -->
    <b-form-group class="form-label-group">
      <label for="inputPassword">
        {{ $t('formElements.confirmPassword') }} :
      </label>
      <b-form-input
        id="inputConfPassword"
        v-model="form.rePassword"
        class="form-control"
        :class="{ 'border-danger': errorMessages }"
        :state="
          isBrowser && $v.form.rePassword.$dirty
            ? !$v.form.rePassword.$error
            : null
        "
        type="password"
      />
      <b-form-invalid-feedback id="inputPassword-invalid">
        <i class="vs-icon feather icon-alert-triangle" />
        <span>{{ $t('formFeedbacks.password') }}</span>
        <br />
        <i class="vs-icon feather icon-alert-triangle" />
        <span>{{ $t('formFeedbacks.rePassword') }}</span>
      </b-form-invalid-feedback>
    </b-form-group>

    <div class="form-group row">
      <div class="col-12">
        <fieldset class="checkbox">
          <div class="vs-checkbox-con vs-checkbox-primary">
            <input v-model="form.agreement" type="checkbox" />
            <span class="vs-checkbox">
              <span class="vs-checkbox--check">
                <i class="vs-icon feather icon-check" />
              </span>
            </span>
            <span class="">{{ $t('formElements.termsAndConditions') }}</span>
          </div>
        </fieldset>
        <small
          v-if="isBrowser && $v.form.agreement.$invalid"
          class="text-danger"
        >
          <span>
            <i class="vs-icon feather icon-alert-triangle" />
            {{ $t('formFeedbacks.checkbox') }}
          </span>
        </small>
      </div>
    </div>

    <template v-if="errorMessages">
      <b-row class="mb-2">
        <b-col class="text-danger message-col">{{ errorMessages }}</b-col>
      </b-row>
    </template>

    <nuxt-link
      :to="{ path: `${localePath('/auth/login')}` }"
      tag="a"
      class="btn btn-outline-primary float-left btn-inline mb-50"
    >
      {{ $t('formElements.loginButton') }}
    </nuxt-link>
    <!-- (isBrowser && $v.form.$invalid) || loading -->
    <b-button
      type="submit"
      variant="primary"
      class="btn btn-primary float-right btn-inline mb-50"
      :disabled="loading"
    >
      <span v-if="loading" class="spinner spinner-white" />
      {{ $t('formElements.registerButton') }}
    </b-button>
  </b-form>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'
import { required, email, minLength, sameAs } from 'vuelidate/lib/validators'

export default {
  name: 'RegisterForm',
  asyncData() {
    return { isBrowser: process.browser }
  },
  data() {
    return {
      isBrowser: false,
      form: {
        firstName: '',
        lastName: '',
        email: '',
        phone: '',
        password: '',
        rePassword: '',
        agreement: true
      }
    }
  },
  computed: {
    ...mapGetters('alert', ['errorMessages']),
    ...mapState('auth', ['loading']),
    ...mapGetters('auth', ['isLoggedIn'])
  },
  mounted() {
    this.isBrowser = process.browser
    if (this.isLoggedIn) {
      // Already logged in
      this.logout({ router: this.$router, slient: true })
    }
  },
  methods: {
    ...mapActions('auth', ['register', 'logout']),
    onSubmit() {
      this.$v.form.$touch()
      if (this.$v.form.$anyError) {
        return
      }

      this.register({
        firstName: this.form.firstName,
        lastName: this.form.lastName,
        email: this.form.email,
        phone: this.form.phone,
        password: this.form.password,
        router: this.$router
      })
    }
  },
  validations: {
    form: {
      firstName: {
        required
      },
      lastName: {
        required
      },
      email: {
        required,
        email
      },
      phone: {
        required,
        minLength: minLength(10)
      },
      password: {
        required,
        minLength: minLength(6)
      },
      rePassword: {
        required,
        minLength: minLength(6),
        sameAs: sameAs('password')
      },
      agreement: {
        sameAs: sameAs(() => true)
      }
    }
  }
}
</script>
