<template>
  <section class="row flexbox-container">
    <div class="col-xl-7 col-10 d-flex justify-content-center">
      <div class="card bg-authentication rounded-0 mb-0 w-100">
        <div class="row m-0">
          <div
            class="col-lg-6 d-lg-block d-none text-center align-self-center p-0"
          >
            <img
              src="@/static/images/pages/reset-password.png"
              alt="branding logo"
            />
          </div>
          <div class="col-lg-6 col-12 p-0">
            <div v-if="!isPasswordResetted" class="card rounded-0 mb-0 px-2">
              <div class="card-header pb-1">
                <div class="card-title">
                  <h4 class="mb-0">
                    {{ $t('formElements.headerPasswordReset') }}
                  </h4>
                </div>
              </div>
              <p class="px-2">{{ $t('formElements.titlePassword3') }}</p>
              <div class="card-content">
                <div class="card-body pt-1">
                  <reset-password-form :password-key="authKey" />
                </div>
              </div>
            </div>
            <div
              v-if="isPasswordResetted"
              class="card rounded-0 mb-0 px-2 py-1"
            >
              <div class="card-header pb-1 mb-5">
                <div class="card-title">
                  <h4 class="mb-0">
                    {{ $t('formElements.titlePassword4') }}
                  </h4>
                </div>
              </div>
              <p class="px-2 mb-5">
                {{ $t('formElements.tıtlePassword5') }}
              </p>
              <div class="col-12 col-md-6 mb-1">
                <nuxt-link
                  :to="{ path: `${localePath('/auth/login')}` }"
                  tag="a"
                  class="btn btn-outline-primary btn-block px-0"
                >
                  {{ $t('formElements.loginButton') }}
                </nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'
import ResetPasswordForm from '~/components/forms/resetpassword/form'

export default {
  name: 'ResetPasswordPage',
  components: { ResetPasswordForm },
  layout: 'public',
  middleware: ['guest-only'],
  validate({ route }) {
    try {
      if (route?.query?.key) {
        return true
      }
    } catch (err) {
      throw new Error('The page you are looking for not found')
    }
  },
  data() {
    return {
      authKey: ''
    }
  },
  head() {
    return {
      title: 'Reset Password',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Reset your password.'
        }
      ]
    }
  },
  computed: {
    ...mapState('auth', ['isPasswordResetted']),
    ...mapGetters('alert', ['errorMessages'])
  },
  mounted() {
    if (this.$route?.query?.key?.length < 15) {
      // error
      this.error({
        showType: 'toast',
        title: 'Error',
        text: 'This is not valid access. Please try again.'
      })
      this.$router.push(this.localePath('/auth/forgotpassword'))
    }
    this.authKey = this.$route?.query?.key
  },
  methods: {
    ...mapActions('auth', ['handleAuthMessageKey']),
    ...mapActions('alert', ['error'])
  }
}
</script>

<style>
@import 'static/css/pages/authentication.css';
</style>
