<template>
  <error-notifications
    :error-code="statusCode"
    :error-path="error.path"
    :error-message="message"
  />
</template>

<script>
import ErrorNotifications from '@/components/miscellaneous/errors'

export default {
  name: 'ErrorLayout',
  components: {
    ErrorNotifications
  },
  layout: 'public',
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  head() {
    return {
      title: this.message,
      meta: [
        {
          name: 'viewport',
          content: 'width=device-width,initial-scale=1.0,minimum-scale=1.0'
        }
      ]
    }
  },
  computed: {
    statusCode() {
      return (this.error && this.error.statusCode) || 500
    },
    message() {
      return this.error.message || '<%= messages.client_error %>'
    }
  }
}
</script>
