<template>
  <div
    class="
      horizontal-layout horizontal-menu
      2-columns
      navbar-floating
      footer-static
    "
    data-open="hover"
    data-menu="horizontal-menu"
    data-col="2-columns"
  >
    <nav-bar />
    <top-menu />
    <div class="app-content content">
      <div class="content-overlay" />
      <div class="header-navbar-shadow" />
      <nuxt />
      <footer-bar />
    </div>
  </div>
</template>

<script>
import NavBar from '@/components/elements/navigations/navbar.vue'
import TopMenu from '@/components/elements/navigations/topmenu.vue'
import FooterBar from '@/components/elements/navigations/footer.vue'

export default {
  name: 'Index',
  components: {
    NavBar,
    TopMenu,
    FooterBar
  }
}
</script>
