<template>
  <div class="app-content content">
    <div class="content-overlay" />
    <div class="header-navbar-shadow" />
    <div class="content-wrapper">
      <div class="content-header row" />
      <div class="content-body">
        <Nuxt />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Public',
  head() {
    return {
      bodyAttrs: {
        class:
          'vertical-layout vertical-menu-modern semi-dark-layout 1-column navbar-floating footer-static bg-full-screen-image blank-page blank-page'
      }
    }
  }
}
</script>
