<template>
  <div class="content-wrapper">
    <!--
    <bread-crumb />
    -->
    <div class="content-body">
      <!-- account setting page start -->
      <div v-if="loading"><span class="spinner" /></div>
      <section id="page-account-settings">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="tab-content">
                    <div
                      id="account-vertical-general"
                      role="tabpanel"
                      class="tab-pane active"
                      aria-labelledby="account-pill-general"
                      aria-expanded="true"
                    >
                      <div class="media">
                        <a href="javascript: void(0);">
                          <img
                            src="@/static/images/portrait/small/avatar-s-11.jpg"
                            class="rounded mr-75"
                            alt="profile image"
                            height="64"
                            width="64"
                          />
                        </a>
                        <div class="media-body mt-75">
                          <div
                            class="
                              col-12
                              px-0
                              d-flex
                              flex-sm-row flex-column
                              justify-content-start
                            "
                          >
                            <label
                              class="
                                btn btn-sm btn-primary
                                ml-50
                                mb-50 mb-sm-0
                                cursor-pointer
                              "
                              for="account-upload"
                            >
                              {{ $t('formElements.uploadNewPhoto') }}
                            </label>
                            <input id="account-upload" type="file" hidden />
                            <button
                              class="btn btn-sm btn-outline-warning ml-50"
                            >
                              {{ $t('formElements.reset') }}
                            </button>
                          </div>
                          <p class="text-muted ml-75 mt-50">
                            <small>
                              {{ $t('formElements.profilePhotoDefinition') }}
                            </small>
                          </p>
                        </div>
                      </div>
                      <hr />
                      <user-profile-form
                        v-if="!loading && user"
                        :user-informations="user"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
// import BreadCrumb from '~/components/elements/navigations/breadCrumb'
import UserProfileForm from '~/components/forms/accountsettings/form'

export default {
  name: 'UserProfile',
  // components: { BreadCrumb, UserProfileForm },
  components: { UserProfileForm },
  layout: 'index',
  middleware: ['require-auth'],
  head() {
    return {
      title: 'My account',
      meta: []
    }
  },
  computed: {
    ...mapState('user', ['loading', 'user'])
  },
  mounted() {
    this.me({ router: this.$router })
  },
  methods: {
    ...mapActions('user', ['me'])
  }
}
</script>
