<!-- eslint-disable prettier/prettier -->
<template>
  <b-overlay :show="tableLoading">
    <div class="content-wrapper">
      <!--
    <bread-crumb />
    -->
      <div class="content-body">
        <div class="page-todo">
          <b-container fluid>
            <!--
          <h1 class="page-title">Search URL</h1>
          -->
            <div class="todo-add-wrapper">
              <todo-add-box :loading="loading" @add="onAdd" />
            </div>
          </b-container>
        </div>
      </div>
      <b-container fluid>
        <!-- User Interface controls -->
        <b-row class="justify-content-end">
          <b-col>
            <b-tabs content-class="mt-3" @activate-tab="(e) => changeTab(e)">
              <b-tab
                v-for="tab in tabs"
                :key="tab.id"
                :title="tab.title"
                :active="tab.id === activeTabId"
              />
            </b-tabs>
          </b-col>
          <!-- <b-col lg="3" class="my-1">
            <b-form-group
              label="Filter"
              label-for="filter-input"
              label-cols-sm="3"
              label-align-sm="right"
              label-size="sm"
              class="mb-0"
            >
              <b-input-group size="sm">
                <b-form-input
                  id="filter-input"
                  v-model="filter"
                  type="search"
                  placeholder="Type to Search"
                ></b-form-input>

                <b-input-group-append>
                  <b-button :disabled="!filter" @click="filter = ''"
                    >Clear</b-button
                  >
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col> -->

          <b-col sm="1" md="2" class="my-1">
            <b-form-group
              label="Per page"
              label-for="per-page-select"
              label-cols-sm="6"
              label-cols-md="4"
              label-cols-lg="3"
              label-align-sm="right"
              label-size="sm"
              class="mb-0"
            >
              <b-form-select
                id="per-page-select"
                v-model="perPage"
                :options="pageOptions"
                size="sm"
                @input="(e) => changePerPage(e)"
              ></b-form-select>
            </b-form-group>
          </b-col>
        </b-row>

        <!-- Main table element -->
        <b-table
          ref="table"
          :items="items"
          :fields="getFields"
          :per-page="perPage"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
          show-empty
          striped
          bordered
          outlined
          head-variant="light"
          @filtered="onFiltered"
          @sort-changed="(e) => onSortChanged(e)"
        >
          <template #cell(fileName)="row">
            {{ row.item.fileName }}
          </template>
          <template #cell(url)="row">
            {{ row.item.url }}
          </template>
          <template #cell(keyword)="row">
            {{ row.item.keyword }}
          </template>
          <template #cell(status)="row">
            {{ row.item.status }}
          </template>
          <template
            v-if="getSelectedTab().id === 'COMPLETED'"
            #cell(asinCount)="row"
          >
            {{ row.item.asins.split(';').length }}
          </template>
          <template
            v-if="getSelectedTab().id === 'COMPLETED'"
            #cell(actions)="row"
          >
            <b-button
              size="sm"
              class="mr-1"
              variant="info"
              @click="downloadTxt(row.item, row.index, $event.target)"
            >
              Download
            </b-button>
          </template>
        </b-table>

        <b-row class="align-items-center justify-content-center">
          <b-col sm="4" md="3" class="my-1">
            <b-pagination
              v-model="currentPage"
              :total-rows="totalRows"
              :per-page="perPage"
              align="fill"
              size="sm"
              class="my-0"
              @change="(e) => changePage(e)"
            ></b-pagination
          ></b-col>
        </b-row>

        <!-- Info modal -->
        <b-modal
          :id="infoModal.id"
          :title="infoModal.title"
          ok-only
          @hide="resetInfoModal"
        >
          <pre>{{ infoModal.content }}</pre>
        </b-modal>
      </b-container>
      <!--
    <div class="page-todo">
      <b-container fluid>
        <h1 class="page-title">Todo App</h1>
        <div class="todo-add-wrapper">
          <todo-add-box :loading="loading" @add="onAdd" />
        </div>
        <div class="todo-wrapper">
          <b-card-group deck>
            <todo-box
              card-header="Pending"
              state="pending"
              :todo-list="pendingTodoList"
              :loading="loading"
              @change="onChange"
              @remove="onRemove"
            />
            <todo-box
              card-header="Ongoing"
              state="ongoing"
              :todo-list="ongoingTodoList"
              :loading="loading"
              @change="onChange"
              @remove="onRemove"
            />
            <todo-box
              card-header="Completed"
              state="completed"
              :todo-list="completedTodoList"
              :loading="loading"
              @change="onChange"
              @remove="onRemove"
            />
          </b-card-group>
        </div>
      </b-container>
    </div>
    --></div>
  </b-overlay>
</template>

<script>
import _ from 'lodash'
import { mapGetters, mapActions, mapState } from 'vuex'
import TodoAddBox from '~/components/TodoAddBox.vue'
// import BreadCrumb from '~/components/elements/navigations/breadCrumb'

export default {
  name: 'Todo',
  // components: { TodoBox, TodoAddBox, BreadCrumb },
  components: { TodoAddBox },
  layout: 'index',
  middleware: ['require-auth'],
  data() {
    return {
      tableLoading: false,
      tabs: [
        {
          id: 'PENDING',
          title: 'Pending',
          selected: true
        },
        {
          id: 'PROCESSING',
          title: 'Processing',
          selected: false
        },
        {
          id: 'COMPLETED',
          title: 'Completed',
          selected: false
        }
      ],
      title: 'Todo Page',
      items: [],
      fields: [
        {
          key: 'fileName',
          label: 'File Name',
          sortable: true,
          sortDirection: 'desc',
          class: 'text-center'
        },
        {
          key: 'url',
          label: 'Search Url',
          sortable: true,
          class: 'text-center'
        },
        {
          key: 'keyword',
          label: 'Keyword',
          sortable: true,
          class: 'text-center'
        },
        {
          key: 'marketInfoStatus',
          label: 'Status',
          sortable: true,
          class: 'text-center'
        }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 20,
      pageOptions: [5, 10, 15, 20],
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      filterOn: [],
      infoModal: {
        id: 'info-modal',
        title: '',
        content: ''
      }
    }
  },
  head() {
    return {
      title: 'Todo Page',
      meta: []
    }
  },
  computed: {
    ...mapState('todo', ['loading', 'auth']),
    ...mapGetters('todo', [
      'pendingTodoList',
      'ongoingTodoList',
      'completedTodoList'
    ]),
    getFields() {
      if (this.getSelectedTab().id === 'COMPLETED') {
        return this.fields.concat([
          {
            key: 'asinCount',
            label: 'ASIN Count',
            sortable: false,
            class: 'text-center'
          },
          {
            key: 'actions',
            label: 'Download',
            sortable: false,
            class: 'text-center'
          }
        ])
      }
      return this.fields
    }
  },

  mounted() {
    this.list({})
    this.getItems('PENDING')
  },
  methods: {
    onSortChanged(e) {
      console.log('on sort changed')
      this.sortBy = e.sortBy
      this.sortDesc = e.sortDesc
      this.getItems(this.getSelectedTab().id)
    },
    downloadTxt(item, _index, _target) {
      const element = document.createElement('a')
      element.setAttribute(
        'href',
        'data:text/plain;charset=utf-8,' +
          encodeURIComponent(item.asins.replaceAll(';', '\n'))
      )
      element.setAttribute(
        'download',
        `${item.fileName} - ${new Date().toLocaleString('tr')}.txt`
      )

      element.style.display = 'none'
      document.body.appendChild(element)

      element.click()

      document.body.removeChild(element)
      this.$bvToast.toast('Downloading ' + item.fileName + '.txt', {
        title: 'Downloading',
        autoHideDelay: 3000,
        appendToast: true,
        variant: 'success'
      })
    },
    changePerPage(perPage) {
      console.log('change per page')
      this.perPage = perPage
      this.currentPage = 1
      this.getItems(this.getSelectedTab().id)
    },
    changePage(page) {
      console.log('change page', page)
      this.currentPage = page
      this.getItems(this.getSelectedTab().id)
    },
    getSelectedTab() {
      return _.find(this.tabs, { selected: true })
    },
    changeTab(e) {
      this.tabs.forEach((tab) => {
        tab.selected = false
      })
      this.tabs[e].selected = true
      this.getItems(this.tabs[e].id.toUpperCase())
    },
    getItems(status) {
      this.tableLoading = true
      this.$axios
        .get(
          `https://testapi.asinpan.com/api/market-info?marketInfoStatus=${status}&page=${
            this.currentPage - 1
          }&size=${this.perPage}&sort=${this.sortBy},${
            this.sortDesc ? 'desc' : 'asc'
          }`,
          {
            headers: {
              Authorization: `Bearer ${this.$store.state.auth.authKey}`
            }
          }
        )
        .then((res) => {
          if (res.status === 200) {
            this.tableLoading = false
            this.totalRows = Number(res.headers['x-total-count'])
            this.items = [...res.data]
            setTimeout(() => {
              this.$refs.table.refresh()
            }, 1000)
          }
        })
        .catch((err) => {
          console.log(err)
        })
    },
    ...mapActions('todo', ['list', 'addOne', 'updateBulk', 'deleteOne']),
    onAdd({ todo }) {
      this.getItems(this.getSelectedTab().id)
      console.log('todo ', todo)
    },
    onChange({ state, todoList }) {
      const newTodoList = _.map(todoList, (todo) => {
        return _.pick(todo, ['id', 'name', 'note'])
      })

      this.updateBulk({
        state,
        todoList: newTodoList,
        router: this.$router
      }).then(() => this.list({}))
    },
    onRemove({ state, todo }) {
      this.deleteOne({
        state,
        todoId: todo.id,
        router: this.$router
      }).then(() => this.list({}))
    }
  }
}
</script>
